<!-- Created On 1 October 2022
COMP229 Assignment 1
Student Name: LONG TANG
SID: 301225866 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container mx-auto">
    <header><%- include('../partials/header'); %></header>
    <div
      class="container rounded-lg mx-auto text-center p-8 content-center justify-around"
    >
      <p class="text-3xl pb-2"><%= docs.name %></p>
      <p class="text-2xl pb-2 text-red-600"><%- caution -%></p>
      <!-- Form -->
      <div>
        <form class="flex justify-between py-4" method="post">
          <div>
            <input
              type="text"
              id="name"
              name="name"
              class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600"
              placeholder="Contact Name"
              value=<%= docs.name %>
              required
            />
          </div>
          <div>
            <input
              type="text"
              id="number"
              name="number"
              class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600"
              placeholder="Contact Number"
              value=<%= docs.number %>
              required
            />
          </div>
          <div>
            <input
              type="email"
              id="email"
              name="email"
              class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600"
              placeholder="Contact email Address"
              value=<%= docs.email %>
              required
            />
          </div>
          <div>
            <button
              formaction="/bcontact/editcontact"
              type="submit"
              class="text-black hover:bg-green-500 border-solid border-2 border-black py-2 px-4 rounded"
            >
              Edit Contact
            </button>
          </div>
          
        </form>
        <div>
            <button
              type="button"
              class="text-black hover:bg-green-500 border-solid border-2 border-black py-2 px-4 rounded"
            >
              <a href="/bcontact/home">Cancel Editing...</a>
            </button>
          </div>
      </div>
    </div>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
